@using Microsoft.EntityFrameworkCore
@model AddCollectionViewModel
@{
    ViewData["Title"] = "Account";
    var db = ViewBag.Context as AppDbContext;
    var colls = ViewBag.Collections as List<CustomCollection>;
}

<div class="col-9">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="AccManager" asp-controller="Account">Account</a>
        </li>
        <li class="nav-item">
            <button class="nav-link active">Collections</button>
        </li>
    </ul>

    <div>
        <h2 class="h4 mt-3 mb-3">Collections manger</h2>
        <div>
            <div class="mb-3">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addFormModal">
                    Add Collection
                </button>

                <div class="modal fade" id="addFormModal" tabindex="-1" aria-labelledby="addFormModalTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addFormLongTitle">Fill collection info</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form enctype="multipart/form-data" method="post" asp-action="CreateCollection"
                                asp-controller="Collections" class="needs-validation" novalidate>
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Name">Enter collection name:</label>
                                        <input required class="form-control" type="text" asp-for="Name"
                                            placeholder="Name example">
                                    </div>

                                    <div class="form-grop">
                                        <label class="form-label" asp-for="Description">Write some description
                                            here:</label>
                                        <textarea class="form-control" id="descripArea" rows="3"
                                            placeholder="Collection desctiption..." asp-for="Description"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" asp-for="Subject">Choose collection subject</label>
                                        <select required class="form-control" asp-for="Subject">
                                            <option value="" disabled hidden selected style="color: #928ba1;">Choose
                                                subject of your collection</option>
                                            @foreach (var subject in db.Subjects.ToList())
                                            {
                                                <option value="@subject.Name">@subject.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="File" id="fileInpLabel">Drop file
                                                here or click to upload image</label>
                                            <input required accept="image/png, image/jpeg, image/jpg"
                                                class="form-control" type="file" asp-for="File" id="fileInp">
                                        </div>
                                    </div>

                                    <hr>

                                    <h4>Additional fields for items</h4>
                                    <h5>Number fields</h5>
                                    <div class="fields-group row">
                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Num1_visibility">
                                                <label class="form-check-label" asp-for="Num1_visibility">Field
                                                    1</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Num1_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Num2_visibility">
                                                <label class="form-check-label" asp-for="Num2_visibility">Field
                                                    2</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Num2_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Num3_visibility">
                                                <label class="form-check-label" asp-for="Num3_visibility">Field
                                                    3</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Num3_name"
                                                placeholder="Field name" disabled>
                                        </div>
                                    </div>

                                    <h5>String fields</h5>
                                    <div class="fields-group row">
                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Str1_visibility">
                                                <label class="form-check-label" asp-for="Str1_visibility">Field
                                                    1</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Str1_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Str2_visibility">
                                                <label class="form-check-label" asp-for="Str2_visibility">Field
                                                    2</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Str2_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Str3_visibility">
                                                <label class="form-check-label" asp-for="Str3_visibility">Field
                                                    3</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Str3_name"
                                                placeholder="Field name" disabled>
                                        </div>
                                    </div>

                                    <h5>Textarea fields</h5>
                                    <div class="fields-group row">
                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Txt1_visibility">
                                                <label class="form-check-label" asp-for="Txt1_visibility">Field
                                                    1</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Txt1_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Txt2_visibility">
                                                <label class="form-check-label" asp-for="Txt2_visibility">Field
                                                    2</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Txt2_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Txt3_visibility">
                                                <label class="form-check-label" asp-for="Txt3_visibility">Field
                                                    3</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Txt3_name"
                                                placeholder="Field name" disabled>
                                        </div>
                                    </div>

                                    <h5>Date fields</h5>
                                    <div class="fields-group row">
                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Date1_visibility">
                                                <label class="form-check-label" asp-for="Date1_visibility">Field
                                                    1</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Date1_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Date2_visibility">
                                                <label class="form-check-label" asp-for="Date2_visibility">Field
                                                    2</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Date2_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Date3_visibility">
                                                <label class="form-check-label" asp-for="Date3_visibility">Field
                                                    3</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Date3_name"
                                                placeholder="Field name" disabled>
                                        </div>
                                    </div>

                                    <h5>Checkbox fields</h5>
                                    <div class="fields-group row">
                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Check1_visibility">
                                                <label class="form-check-label" asp-for="Check1_visibility">Field
                                                    1</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Check1_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Check2_visibility">
                                                <label class="form-check-label" asp-for="Check2_visibility">Field
                                                    2</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Check2_name"
                                                placeholder="Field name" disabled>
                                        </div>

                                        <div class="mb-3 col-4">
                                            <div class="form-check">
                                                <input class="form-check-input fieldVisib" type="checkbox"
                                                    asp-for="Check3_visibility">
                                                <label class="form-check-label" asp-for="Check3_visibility">Field
                                                    3</label>
                                            </div>
                                            <input class="form-control" type="text" asp-for="Check3_name"
                                                placeholder="Field name" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-dark" value="Add collection" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @if (colls.Count() == 0)
            {
                <div class="empty my-5 text-center">
                    <h4>You haven't created a collection yet.</h4>
                    <p>Click <strong>Add Collection</strong> to create new one.</p>
                </div>
            }
            <div class="row row-cols-1 row-cols-md-3">
                @foreach (var collection in colls)
                {
                    <div class="col mb-4">
                        <div class="card">
                            <img src="@collection.ImageURL" alt="Collection image" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@collection.Name</h5>
                                <p class="card-text">
                                    @db.Subjects.FirstOrDefault(s=>s.Id==collection.SubjectId).Name collection include
                                    @collection.Items.Count() items.
                                </p>
                            </div>
                            <div class="card-body">
                                @Html.ActionLink("Edit", "EditCollection", "Collections", new {collection.Id}, new
                            {@class="btn btn-primary"})
                                @Html.ActionLink("Delete", "DeleteCollection", "Collections", new {collection.Id}, new
                            {@class="btn btn-danger"})
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    var simplemde = new SimpleMDE({ element: $('#descripArea')[0] });

    simplemde.codemirror.on("change", function () {
        $('#descripArea').val(simplemde.value());
    });

    $('.fieldVisib').on("change", function () {
        if (this.checked)
            $(this).parent().next().prop('disabled', false);
        else
            $(this).parent().next().prop('disabled', true);
    })

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
</script>
}