@using System.Reflection;
@model EditCollectionViewModel
@{
    var db = ViewBag.Context as AppDbContext;
    var coll = ViewBag.Collection as CustomCollection;
    var type = coll.GetType();
    var flag = false;
    string itype = "";
}

<div class="col-9">
    <div class="collection-edit">
        <form enctype="multipart/form-data" method="post" asp-action="EditCollection" asp-controller="Collections"
              class="needs-validation" novalidate>
            <div class="form-body">

                <div class="mb-3">
                    <input hidden type="text" asp-for="CollId" value="@coll.Id">
                    <label class="form-label" asp-for="CollectionName">Enter collection name:</label>
                    <input value="@coll.Name" required class="form-control" type="text" asp-for="CollectionName"
                           placeholder="Name example">
                </div>

                <div class="form-grop">
                    <label class="form-label" asp-for="Description">Write some description here:</label>
                    <textarea class="form-control" id="descripArea" rows="3" placeholder="Collection desctiption..."
                              asp-for="Description"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Subject">Choose collection subject</label>
                    <select required class="form-control" asp-for="Subject">
                        @foreach (var subject in db.Subjects.ToList())
                        {
                            @if (coll.SubjectId == subject.Id)
                            {
                                <option value="@subject.Name" selected>@subject.Name</option>
                            }
                            else
                            {
                                <option value="@subject.Name">@subject.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" asp-for="File" id="fileInpLabel">
                            Drop file here or click to upload new image
                        </label>
                        <input accept="image/png, image/jpeg, image/jpg" class="form-control" type="file"
                               asp-for="File" id="fileInp">
                    </div>
                </div>

                <hr>

                <h4>Additional fields for items</h4>
                <h5>Number fields</h5>
                <div class="fields-group row">
                    <div class="mb-3 col-4">
                        @if (coll.Num1_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Num1_visibility">
                                <label class="form-check-label" asp-for="Num1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Num1_name" class="form-control" type="text" asp-for="Num1_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Num1_visibility">
                                <label class="form-check-label" asp-for="Num1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Num1_name" class="form-control" type="text" asp-for="Num1_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Num2_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Num2_visibility">
                                <label class="form-check-label" asp-for="Num2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Num2_name" class="form-control" type="text" asp-for="Num2_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Num2_visibility">
                                <label class="form-check-label" asp-for="Num2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Num2_name" class="form-control" type="text" asp-for="Num2_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Num3_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Num3_visibility">
                                <label class="form-check-label" asp-for="Num3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Num3_name" class="form-control" type="text" asp-for="Num3_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Num3_visibility">
                                <label class="form-check-label" asp-for="Num3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Num3_name" class="form-control" type="text" asp-for="Num3_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>
                </div>

                <h5>String fields</h5>
                <div class="fields-group row">
                    <div class="mb-3 col-4">
                        @if (coll.Str1_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Str1_visibility">
                                <label class="form-check-label" asp-for="Str1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Str1_name" class="form-control" type="text" asp-for="Str1_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Str1_visibility">
                                <label class="form-check-label" asp-for="Str1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Str1_name" class="form-control" type="text" asp-for="Str1_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Str2_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Str2_visibility">
                                <label class="form-check-label" asp-for="Str2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Str2_name" class="form-control" type="text" asp-for="Str2_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Str2_visibility">
                                <label class="form-check-label" asp-for="Str2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Str2_name" class="form-control" type="text" asp-for="Str2_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Str3_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Str3_visibility">
                                <label class="form-check-label" asp-for="Str3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Str3_name" class="form-control" type="text" asp-for="Str3_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Str3_visibility">
                                <label class="form-check-label" asp-for="Str3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Str3_name" class="form-control" type="text" asp-for="Str3_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>
                </div>

                <h5>Textarea fields</h5>
                <div class="fields-group row">
                    <div class="mb-3 col-4">
                        @if (coll.Txt1_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Txt1_visibility">
                                <label class="form-check-label" asp-for="Txt1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Txt1_name" class="form-control" type="text" asp-for="Txt1_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Txt1_visibility">
                                <label class="form-check-label" asp-for="Txt1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Txt1_name" class="form-control" type="text" asp-for="Txt1_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Txt2_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Txt2_visibility">
                                <label class="form-check-label" asp-for="Txt2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Txt2_name" class="form-control" type="text" asp-for="Txt2_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Txt2_visibility">
                                <label class="form-check-label" asp-for="Txt2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Txt2_name" class="form-control" type="text" asp-for="Txt2_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Txt3_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Txt3_visibility">
                                <label class="form-check-label" asp-for="Txt3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Txt3_name" class="form-control" type="text" asp-for="Txt3_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Txt3_visibility">
                                <label class="form-check-label" asp-for="Txt3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Txt3_name" class="form-control" type="text" asp-for="Txt3_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>
                </div>

                <h5>Date fields</h5>
                <div class="fields-group row">
                    <div class="mb-3 col-4">
                        @if (coll.Date1_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Date1_visibility">
                                <label class="form-check-label" asp-for="Date1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Date1_name" class="form-control" type="text" asp-for="Date1_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Date1_visibility">
                                <label class="form-check-label" asp-for="Date1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Date1_name" class="form-control" type="text" asp-for="Date1_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Date2_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Date2_visibility">
                                <label class="form-check-label" asp-for="Date2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Date2_name" class="form-control" type="text" asp-for="Date2_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Date2_visibility">
                                <label class="form-check-label" asp-for="Date2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Date2_name" class="form-control" type="text" asp-for="Date2_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Date3_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Date3_visibility">
                                <label class="form-check-label" asp-for="Date3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Date3_name" class="form-control" type="text" asp-for="Date3_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Date3_visibility">
                                <label class="form-check-label" asp-for="Date3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Date3_name" class="form-control" type="text" asp-for="Date3_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>
                </div>

                <h5>Checkbox fields</h5>
                <div class="fields-group row">
                    <div class="mb-3 col-4">
                        @if (coll.Check1_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Check1_visibility">
                                <label class="form-check-label" asp-for="Check1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Check1_name" class="form-control" type="text" asp-for="Check1_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Check1_visibility">
                                <label class="form-check-label" asp-for="Check1_visibility">Field 1</label>
                            </div>
                            <input required value="@coll.Check1_name" class="form-control" type="text" asp-for="Check1_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Check2_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Check2_visibility">
                                <label class="form-check-label" asp-for="Check2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Check2_name" class="form-control" type="text" asp-for="Check2_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Check2_visibility">
                                <label class="form-check-label" asp-for="Check2_visibility">Field 2</label>
                            </div>
                            <input required value="@coll.Check2_name" class="form-control" type="text" asp-for="Check2_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>

                    <div class="mb-3 col-4">
                        @if (coll.Check3_visibility)
                        {
                            <div class="form-check">
                                <input checked class="form-check-input fieldVisib" type="checkbox"
                                       asp-for="Check3_visibility">
                                <label class="form-check-label" asp-for="Check3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Check3_name" class="form-control" type="text" asp-for="Check3_name"
                                   placeholder="Field name">
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input fieldVisib" type="checkbox" asp-for="Check3_visibility">
                                <label class="form-check-label" asp-for="Check3_visibility">Field 3</label>
                            </div>
                            <input required value="@coll.Check3_name" class="form-control" type="text" asp-for="Check3_name"
                                   placeholder="Field name" disabled>
                        }
                    </div>
                </div>
            </div>

            <div class="form-footer text-end">
                <a class="btn btn-secondary" asp-controller="Collections" asp-action="ColManager">Cancel</a>
                <input type="submit" class="btn btn-dark" value="Save" />
            </div>
        </form>
    </div>

    <div class="items-edit">
        <hr>
        <h4>Items</h4>

        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addFormModal">Add Item</button>

        <div class="modal fade" id="addFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form method="post" asp-action="AddItem" asp-controller="Collections" class="needs-validation" novalidate>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Item name</h5>
                            <div class="mb-3">
                                <input required class="form-control" type="text" asp-for="ItemName">
                            </div>
                            <h5>Tags</h5>
                            <div class="mb-3">
                                <input data-role="tagsinput" required class="form-control" type="text" asp-for="Tags">
                            </div>
                            @foreach (var prop in type.GetProperties())
                            {
                                @if (prop.Name.Contains("_vi") && (bool)prop.GetValue(coll, null))
                                {
                                    flag = true;
                                }

                                @if (flag && prop.Name.Contains("_name"))
                                {
                                    flag = false;
                                    itype = prop.Name.Substring(0, prop.Name.IndexOf('_') - 1);
                                    var propName = prop.Name.Substring(0, prop.Name.IndexOf('_'));
                                    <h5 class="prop-value">@(prop.GetValue(coll, null))</h5>
                                    <div class="mb-3">
                                        @switch (itype)
                                        {
                                            case "Num":
                                                <input required class="form-control" type="number" min="0" step="1" id="@propName" name="@propName" placeholder="Smth...">
                                                break;
                                            case "Str":
                                                <input required class="form-control" type="text" id="@propName" name="@propName" placeholder="Smth...">
                                                break;
                                            case "Txt":
                                                <textarea required class="form-control item-mde" type="text" id="@propName" name="@propName" placeholder="Smth..."></textarea>
                                                break;
                                            case "Date":
                                                <input required class="form-control" type="date" id="@propName" name="@propName" placeholder="Smth...">
                                                break;
                                            case "Check":
                                                <div class="form-check">
                                                    <input required class="form-check-input" type="checkbox" id="@propName" name="@propName" placeholder="Smth...">
                                                    <label class="form-check-label" for="@propName">@prop.Name</label>
                                                </div>
                                                break;
                                            default:
                                                break;
                                        }

                                    </div>
                                }
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-dark" value="Add item" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if (coll.Items.Count() == 0)
        {
            <div class="empty my-5 text-center">
                <h4>No items.</h4>
                <p>Click <strong>Add Item</strong> to create new one.</p>
            </div>
        }
        else
        {
            <table id="ItemTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in coll.Items)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <td>@item.Tags</td>
                            <td>
                                @Html.ActionLink("Open", "OpenItem", "Collections", new { item.Id }, new { @class = "link-primary" }) |
                                <a class="link-secondary disabled">Edit</a> |
                                @Html.ActionLink("Delete", "DeleteItem", "Collections", new { item.Id }, new { @class = "link-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    <script>
    $("#ItemTable").DataTable({
        "scrollY": "90vh"
    })

    var simplemde = new SimpleMDE({ element: $('#descripArea')[0] });

    simplemde.value("@coll.Descrip");
    simplemde.codemirror.on("change", function () {
        $('#descripArea').val(simplemde.value());
    });

    $('.fieldVisib').on("change", function () {
        if (this.checked)
            $(this).parent().next().prop('disabled', false);
        else
            $(this).parent().next().prop('disabled', true);
    })

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    </script>
}